*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Open Sans',sans-serif;
}
main{
    width: 100%;
    height:100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    width:600px;
    min-height: 500px;
    background-color: white;
    border-radius: 5px;
    padding: 15px;

}
#item{
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border: 0;
    outline:0;
    display: block;
    box-shadow: 0px 0px 2px grey;
    font-weight: bold;

}
#to-do-box{
    margin-top: 20px;
    list-style: none;
}
#to-do-box li{
    position: relative;
    background-color: firebrick;
    color:black;
    padding: 10px;
    border-radius: 2px;
    padding-right: 30px;
    text-align: justify;
    margin-top: 10px;
    user-select: none;

}
#to-do-box li i {
    position:absolute;
    right: 10px;
    top: 10px;
}
.done{
    text-decoration: line-through;
    color:black;
    background-color: red !important;
}